body {
    font-family: sans-serif;
    overflow: hidden;
    display: none;
}

#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

.dialog {
    width: 640px;
    position: absolute;
    left: 80%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgb(230, 230, 230);
}

input:invalid {
    border-color: red;
}

form {
    margin: 0;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
}

button {
    display: block;
    margin-top: 5px;
    padding: 10px;
    background-color: #286090;
    border: 0;
    color: #fff;
    width: 100%;
}

button:hover {
    background-color: #2D73B0;
}

button:focus {
    background-color: #2D73B0;
}

.dialog-selector input{
    margin:0;padding:0;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.dialog-selectorf input{
    margin:0;padding:0;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

fieldset {
  overflow: hidden
}

.dialog-selectorg {
  left:90%;
  text-align:center;
}

.dialog-selector {
  float: left;
  clear: none;
}

.dialog-selectorf {
  float: left;
  clear: none;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}

.tititre {
  font-weight: bold;
  align-self: center;
}

.dialog-selector1 {
  height: auto;
  text-align:center;
}

input[type=radio],
.radio.outfit {
  float: left;
  clear: none;
  margin: 0px 0 0 2px;
}

.outfit1{background-image:url(img/14Street3.png);}
.outfit2{background-image:url(img/14Street4.png);}
.outfit3{background-image:url(img/14Street5.png);}
.outfit4{background-image:url(img/15Standard8.png);}
.outfit5{background-image:url(img/15Standard11.png);}

.outfit6{background-image:url(img/15Standard12.png);}
.outfit7{background-image:url(img/15Standard17.png);}
.outfit8{background-image:url(img/15Standard19.png);}
.outfit9{background-image:url(img/35Lowriders4.png);}
.outfit10{background-image:url(img/39Hipster1.png);}

.outfit11{background-image:url(img/39Hipster6.png);}
.outfit12{background-image:url(img/39Hipster10.png);}
.outfit13{background-image:url(img/Casual1.png);}
.outfit14{background-image:url(img/Casual3.png);}
.outfit15{background-image:url(img/party2.png);}

.outfit16{background-image:url(img/2Beach2.png);}
.outfit17{background-image:url(img/2Beach7.png);}
.outfit18{background-image:url(img/2Beach8.png);}

.hair1{background-image:url(img/Hair0.png);}
.hair2{background-image:url(img/Hair2.png);}
.hair3{background-image:url(img/Hair3.png);}
.hair4{background-image:url(img/Hair9.png);}
.hair5{background-image:url(img/Hair13.png);}
.hair6{background-image:url(img/Hair21.png);}

.color1{background-image:url(img/Color0.png);}
.color2{background-image:url(img/Color1.png);}
.color3{background-image:url(img/Color2.png);}
.color4{background-image:url(img/Color3.png);}
.color5{background-image:url(img/Color4.png);}
.color6{background-image:url(img/Color0.png);}

.dialog-selector input:active +.out-cc{opacity: .9;}
.dialog-selector input:checked +.out-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.dialog-selectorf input:active +.out-cc{opacity: .9;}
.dialog-selectorf input:checked +.out-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.out-cc{
    cursor:pointer;
    background-size:cover;
    background-repeat:no-repeat;
    display:block;
    width:85px;height:130px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.7);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.7);
            filter: brightness(1.2) grayscale(.5) opacity(.7);
}
.out-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.2) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.2) opacity(.9);
            filter: brightness(1.2) grayscale(.2) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
