@font-face {
    font-family: Lemonada;
    src: url("Lemonada.ttf");
}

html, body {
    height: 100%;
    margin: 0;
}

p {
    margin: 0 auto;
    text-align: center;
    font-family: Lemonada;
}

#container {
    min-height: 100%;
}

#speedcontainer {
    position: absolute;
    bottom: 25px;
    left: 300px;
}

.speedtext {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 0px #000000; /* Text outline */
}
.speedkmh {
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 0px #000000; /* Text outline */
}
